
.top-page{
    margin: auto; 
    padding-left: 40%
}
head{
    background-color: #e6ccff
}
.nav-bar{
    list-style-type: none;
    margin: 0%;
    background-color: #f1f1f1
}
.nav-button-outter{
    display: inline-block;
    width: 13%;
}


.nav-button{
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color:black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-button:hover{
    background-color: #2a3990;
    text-decoration: none;
    color: white
}
